{% extends "errors/base.html" %} {% block title %}Indisponível no momento{%
endblock %} {% block content %}
<i class="bi bi-exclamation-octagon-fill display-1 text-secondary"></i>
<h1 class="display-4 mt-3">Restaurante indisponível</h1>
<p class="lead">
  Este restaurante está temporariamente desativado ou com sua assinatura
  expirada.
</p>
<p>
  Por favor, volte mais tarde ou entre em contato com o administrador do
  restaurante para mais informações.
</p>
<a href="{{ url_for('public.index') }}" class="btn btn-outline-primary mt-3">
  Voltar para a página inicial
</a>
{% endblock %}
