{% extends 'admin/base.html' %}

{% block title %}Criar Restaurante{% endblock %}

{% block content %}
<h2>Criar restaurante</h2>
<p>Use essa tela para a criação de user com os seus restaurantes</p>
<p>Use essa tela para a criação de user com os seus restaurantes</p>
<p>Use essa tela para a criação de user com os seus restaurantes</p>
<p>Use essa tela para a criação de user com os seus restaurantes</p>
<p>Use essa tela para a criação de user com os seus restaurantes</p>
<h2>Criar restaurante</h2>
<p>Use essa tela para a criação de user com os seus restaurantes</p>
<p>Use essa tela para a criação de user com os seus restaurantes</p>
<p>Use essa tela para a criação de user com os seus restaurantes</p>
<p>Use essa tela para a criação de user com os seus restaurantes</p>
<p>Use essa tela para a criação de user com os seus restaurantes</p>
<h2>Criar restaurante</h2>
<p>Use essa tela para a criação de user com os seus restaurantes</p>
<p>Use essa tela para a criação de user com os seus restaurantes</p>
<p>Use essa tela para a criação de user com os seus restaurantes</p>
<p>Use essa tela para a criação de user com os seus restaurantes</p>
<p>Use essa tela para a criação de user com os seus restaurantes</p>
<h2>Criar restaurante</h2>
<p>Use essa tela para a criação de user com os seus restaurantes</p>
<p>Use essa tela para a criação de user com os seus restaurantes</p>
<p>Use essa tela para a criação de user com os seus restaurantes</p>
<p>Use essa tela para a criação de user com os seus restaurantes</p>
<p>Use essa tela para a criação de user com os seus restaurantes</p>
<h2>Criar restaurante</h2>
<p>Use essa tela para a criação de user com os seus restaurantes</p>
<p>Use essa tela para a criação de user com os seus restaurantes</p>
<p>Use essa tela para a criação de user com os seus restaurantes</p>
<p>Use essa tela para a criação de user com os seus restaurantes</p>
<p>Use essa tela para a criação de user com os seus restaurantes</p>
<h2>Criar restaurante</h2>
<p>Use essa tela para a criação de user com os seus restaurantes</p>
<p>Use essa tela para a criação de user com os seus restaurantes</p>
<p>Use essa tela para a criação de user com os seus restaurantes</p>
<p>Use essa tela para a criação de user com os seus restaurantes</p>
<p>Use essa tela para a criação de user com os seus restaurantes</p>
<h2>Criar restaurante</h2>
<p>Use essa tela para a criação de user com os seus restaurantes</p>
<p>Use essa tela para a criação de user com os seus restaurantes</p>
<p>Use essa tela para a criação de user com os seus restaurantes</p>
<p>Use essa tela para a criação de user com os seus restaurantes</p>
<p>Use essa tela para a criação de user com os seus restaurantes</p>
<h2>Criar restaurante</h2>
<p>Use essa tela para a criação de user com os seus restaurantes</p>
<p>Use essa tela para a criação de user com os seus restaurantes</p>
<p>Use essa tela para a criação de user com os seus restaurantes</p>
<p>Use essa tela para a criação de user com os seus restaurantes</p>
<p>Use essa tela para a criação de user com os seus restaurantes</p>
<h2>Criar restaurante</h2>
<p>Use essa tela para a criação de user com os seus restaurantes</p>
<p>Use essa tela para a criação de user com os seus restaurantes</p>
<p>Use essa tela para a criação de user com os seus restaurantes</p>
<p>Use essa tela para a criação de user com os seus restaurantes</p>
<p>Use essa tela para a criação de user com os seus restaurantes</p>
<h2>Criar restaurante</h2>
<p>Use essa tela para a criação de user com os seus restaurantes</p>
<p>Use essa tela para a criação de user com os seus restaurantes</p>
<p>Use essa tela para a criação de user com os seus restaurantes</p>
<p>Use essa tela para a criação de user com os seus restaurantes</p>
<p>Use essa tela para a criação de user com os seus restaurantes</p>
<h2>Criar restaurante</h2>
<p>Use essa tela para a criação de user com os seus restaurantes</p>
<p>Use essa tela para a criação de user com os seus restaurantes</p>
<p>Use essa tela para a criação de user com os seus restaurantes</p>
<p>Use essa tela para a criação de user com os seus restaurantes</p>
<p>Use essa tela para a criação de user com os seus restaurantes</p>
<h2>Criar restaurante</h2>
<p>Use essa tela para a criação de user com os seus restaurantes</p>
<p>Use essa tela para a criação de user com os seus restaurantes</p>
<p>Use essa tela para a criação de user com os seus restaurantes</p>
<p>Use essa tela para a criação de user com os seus restaurantes</p>
<p>Use essa tela para a criação de user com os seus restaurantes</p>
<h2>Criar restaurante</h2>
<p>Use essa tela para a criação de user com os seus restaurantes</p>
<p>Use essa tela para a criação de user com os seus restaurantes</p>
<p>Use essa tela para a criação de user com os seus restaurantes</p>
<p>Use essa tela para a criação de user com os seus restaurantes</p>
<p>Use essa tela para a criação de user com os seus restaurantes</p>
<h2>Criar restaurante</h2>
<p>Use essa tela para a criação de user com os seus restaurantes</p>
<p>Use essa tela para a criação de user com os seus restaurantes</p>
<p>Use essa tela para a criação de user com os seus restaurantes</p>
<p>Use essa tela para a criação de user com os seus restaurantes</p>
<p>Use essa tela para a criação de user com os seus restaurantes</p>

<h2>Criar restaurante</h2>
<p>Use essa tela para a criação de user com os seus restaurantes</p>
<p>Use essa tela para a criação de user com os seus restaurantes</p>
<p>Use essa tela para a criação de user com os seus restaurantes</p>
<p>Use essa tela para a criação de user com os seus restaurantes</p>
<p>Use essa tela para a criação de user com os seus restaurantes</p>
<h2>Criar restaurante</h2>
<p>Use essa tela para a criação de user com os seus restaurantes</p>
<p>Use essa tela para a criação de user com os seus restaurantes</p>
<p>Use essa tela para a criação de user com os seus restaurantes</p>
<p>Use essa tela para a criação de user com os seus restaurantes</p>
<p>Use essa tela para a criação de user com os seus restaurantes</p>
<h2>Criar restaurante</h2>
<p>Use essa tela para a criação de user com os seus restaurantes</p>
<p>Use essa tela para a criação de user com os seus restaurantes</p>
<p>Use essa tela para a criação de user com os seus restaurantes</p>
<p>Use essa tela para a criação de user com os seus restaurantes</p>
<p>Use essa tela para a criação de user com os seus restaurantes</p>
<h2>Criar restaurante</h2>
<p>Use essa tela para a criação de user com os seus restaurantes</p>
<p>Use essa tela para a criação de user com os seus restaurantes</p>
<p>Use essa tela para a criação de user com os seus restaurantes</p>
<p>Use essa tela para a criação de user com os seus restaurantes</p>
<p>Use essa tela para a criação de user com os seus restaurantes</p>
<h2>Criar restaurante</h2>
<p>Use essa tela para a criação de user com os seus restaurantes</p>
<p>Use essa tela para a criação de user com os seus restaurantes</p>
<p>Use essa tela para a criação de user com os seus restaurantes</p>
<p>Use essa tela para a criação de user com os seus restaurantes</p>
<p>Use essa tela para a criação de user com os seus restaurantes</p>
<h2>Criar restaurante</h2>
<p>Use essa tela para a criação de user com os seus restaurantes</p>
<p>Use essa tela para a criação de user com os seus restaurantes</p>
<p>Use essa tela para a criação de user com os seus restaurantes</p>
<p>Use essa tela para a criação de user com os seus restaurantes</p>
<p>Use essa tela para a criação de user com os seus restaurantes</p>
<h2>Criar restaurante</h2>
<p>Use essa tela para a criação de user com os seus restaurantes</p>
<p>Use essa tela para a criação de user com os seus restaurantes</p>
<p>Use essa tela para a criação de user com os seus restaurantes</p>
<p>Use essa tela para a criação de user com os seus restaurantes</p>
<p>Use essa tela para a criação de user com os seus restaurantes</p>



{% endblock %}
